<?xml version="1.0" encoding="Windows-1252"?>
<System>
  <??>
    <????>false</????>
    <???>true</???>
    <????>false</????>
    <????>true</????>
    <???????>true</???????>
    <??????>false</??????>
  </??>
  <??>
    <????10????>true</????10????>
  </??>
  <??>
    <??>Verdana</??>
    <??>12</??>
    <???>Window</???>
    <??????>true</??????>
  </??>
</System>